/*
Index
 -- Box Model Hack
 -- Clear fix hack
 - Base styles
 - Layout
 -- text
 - Additional styles
 -- lists
 -- nav list
 -- header layout
 -- middle section
 -- volunteer section
 -- footer
 -- misc
 -- links and buttons
 -- images
 -- columns
 */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


.cf:before,
.cf:after {
content: "";
display: table;
}
.cf:after {
clear: both;
}
.cf {
clear: both;
*zoom: 1;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
  width: fit-content;
  margin: 100px auto;
  font-size: 4.5rem;
}

header {
  padding: 30px;
  background-color: blanchedalmond;
}

.cont {
  padding: 30px;
  font-size: 3.3rem;
}

.cont section {
  float: left;
  width: 33.3333%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/





/*
weather related backgrounds
*/


.rainy{
  background-image: url("../images/");
}

.clear{
  background-image: url("../images/");
}

.partially-cloudy{
  background-image: url("../images/");
}

